---
---
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	background: #00ffff;
    color: #FFF;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* GENERAL ------------------------------------------ */

body {
	color: #fff;
	font-size: 16px;
	font-family:'Cormorant Garamond', serif;
	font-weight: 500;
}

a:link {color:#fff; text-decoration: none;}     
a:visited {color:#fff; text-decoration: none;} 
a:hover {color:#fff; border-bottom: 2px dashed #0000ff;}  
a:active {color:#0000ff;text-decoration: none;}

.rocks a:hover, .mock-table a:hover {color:#fff; outline: 2px dashed #0000ff; border-bottom: none;}   
.mock-table a:hover {outline-offset: -15px;}
.mock-table a p {display:none;}
.mock-table a:hover p {display:block;}
.rocks a:hover {outline-offset: -32px;}


h1 {
	display: block;
	margin: 20px 0 0 0;
	padding-bottom: 5px;
	font-family:'Archivo Narrow', Helvetica, Arial, sans-serif;
    font-size: 4em;
    font-weight: 700;
    font-style: italic;
    line-height: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: -3px 3px #ff0;
}

h2 {
	display: block;
	font-size: 1.5em;
    font-weight: 400;
}

h3 {
	display: block;
    font-size: 3em;
    line-height: 1.1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-image: url('{{ site.baseurl }}/img/h3-bg.gif');
    background-repeat: no-repeat;
}

h4 {
	margin: 1.5em 0 .5em 0;
    font-size: 1em;
    font-weight: 400;
}

p {
	display: block;
	margin: 0;
	font-size: 1.2em;  
	line-height: 1.5em;
}


ul {
	display: block;
	clear: left;
}

li {
	display: block;
	float: left;
}

.hidden {
    display: none !important;
}

/* POSITIONING ------------------------------------------ */

#canvas {
	margin: 0 auto;
    padding: 0 0 1em 0;
    max-width: 60em;      /* 960px/16px = 60em */
}

header, footer {
	display: block;
	text-align: center;
	clear: left;
	padding: 10px 01.0416667%;
}

footer {
	padding-top: 10em;
}

nav {
	font-size: 2em;
	margin-bottom: 0 auto;
	padding: 0 auto;
	text-align: center:
}

.folio {
	padding: 0;
	margin-top: 40px;
	height: auto;
}

.mains {
	display: block;
	clear: both;
	width: 98%;      /* 940px/960px = .97916667 */
	margin: 0 1%;      /* 10px/960px = .010416667 */
	padding: 0;
}

.mains-2 {
	display: block;
	float: left;
	width: 47.916667%;      /* 460px/960px = .47916667 */
	margin: 0 01.0416667% 20px;      /* 10px/960px = .010416667 */
}

.text-container {
	display: block;
	clear: both;
	width: 70%;      /* 940px/960px = .97916667 */
	margin: 0 30% 0 0;      /* 10px/960px = .010416667 */
	padding: 10px 0 0 0;
}

li.rocks {
	width: 62%;      /* 940px/960px = .97916667 */
	margin: 0 19%;      /* 10px/960px = .010416667 */
	padding: 0;
}

.folio img {
	width: 100%;    
	height: 100%;
}

/* ROCKS TABLE ------------------------------------------ */

.mock-table {
	display: block;
	margin-top: 40px;
	-webkit-padding-start: 0;
	height: auto;
}

li.mock-table {
	width: 23.6%;
	margin: 0;
	padding: 0;
}

li.firstpos {
	border-top: #ff0 solid 10px;
	border-left: #ff0 solid 10px;
}

li.secondpos {
	border-top: #ff0 solid 10px;
	border-left: #ff0 solid 10px;
	border-right: #ff0 solid 10px;
}

li.thirdpos {
	border-top: #ff0 solid 10px;
	border-left: #ff0 solid 10px;
	border-bottom: #ff0 solid 10px;
}

li.fourthpos {
	border: #ff0 solid 10px;
}

.mock-table img {
	width: 100%;    
	height: 100%;
}

/* ADDITIONAL TEXT STYLES ------------------------------------------ */

.copyright {
	width: 100%;
	font-size: .8em;
}

.credit {
	font-size: .8em;
}

nav .active {
}

h3.rocks {
	margin: 150px auto -250px auto;
	text-align: right;
	/** background-position: right top; **/
	font-family: 'Cormorant Garamond', serif;
	background-image: none;
	text-transform: none;
}

h3.faq {
	text-align: left;
    background-position: left top;
}

p.river-right {
	display: block;
	position: fixed;
	width: 1200px;
	height: 100px;
	top: 35%;
	left: 50%;
	margin-left: -600px;
	margin-top: -50px;
    font-size: 3em;
    line-height: 1.1em;
    text-transform: uppercase;
    text-align: right;
}

p.river-left {
	display: block;
	position: fixed;
	width: 1200px;
	height: 100px;
	top: 45%;
	left: 50%;
	margin-left: -600px;
	margin-top: -50px;
    font-size: 3em;
    line-height: 1.1em;
    text-transform: uppercase;
    text-align: left;
}

p.woods {
	display: block;
	position: fixed;
	width: 1920px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-left: -960px;
	margin-top: -50px;
    font-size: 3em;
    line-height: 1.1em;
    text-transform: uppercase;
    text-align: center;
    opacity: .8;
}

.text-container li {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	line-height: 1.5em;
    list-style: disc;
    display: list-item;
    float: none;
}

/* BACKGROUND IMAGES ------------------------------------ */

html.full {background: url('{{ site.baseurl }}/img/bg-grass.gif') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

html.full-water {background: url('{{ site.baseurl }}/img/bg-water.gif') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

html.full-forest {background: url('{{ site.baseurl }}/img/bg-leaves.gif') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

html.full-moss {background: url('{{ site.baseurl }}/img/bg-woods.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

html.faq {background: url('{{ site.baseurl }}/img/bg-faq.png') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}


html.tiled-1 {background: url('{{ site.baseurl }}/img/bg-rock8.gif');}
html.tiled-2 {background: url('{{ site.baseurl }}/img/bg-rock2.png');}
html.full-3 {background: url('{{ site.baseurl }}/img/bg-rock3.gif'); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
html.full-4 {background: url('{{ site.baseurl }}/img/bg-rock4.jpg'); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
html.tiled-5 {background: url('{{ site.baseurl }}/img/bg-rock5.gif');}
html.full-6 {background: url('{{ site.baseurl }}/img/bg-rock6.gif'); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
html.tiled-7 {background: url('{{ site.baseurl }}/img/bg-rock7.gif');}
html.tiled-8 {background: url('{{ site.baseurl }}/img/bg-rock1.gif');}
/* html.full-9 {background: url('{{ site.baseurl }}/img/bg-rock9.gif'); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;} */


/* TOP IMAGES ------------------------------------ */

.tl-dash {
	position: absolute;
    top: 250px;
    right: 0;
    width: 450px;
    height: 250px;
    border: none;
    z-index: 100;
}

.tl-arc {
	position: absolute;
    top: 250px;
    width: 100%;
    border: none;
}

.zindex {z-index: -100;}

.transparent {opacity: .7;}
.transparent-2 {opacity: .6;}
.transparent-3 {opacity: .3}


/* MEDIA QUERIES FOR RESPONSIVENESS ------------------------------------------ */

@media only screen and (max-width: 700px) {
	
	h1 {font-size: 2.5em;}
	
	.folio .mains {
		float: none;
		width: 90%;
		margin: 0 5% 20px;  
	}
	
	.mock-table li {
		float: none;
		width: 100%;
		margin: 0;  
	}
	
	header, footer {
		width: 90%;
		margin: 0 5%;
	}
	
	header {padding: 10px 0;}
		
	nav {
    font-size: 1.8em;
    line-height: 1.3em;
	}
	
	h3.faq {margin: .8em auto;}
	
	p.river-right {
		width: 374px;
		top: 50%;
		margin-left: -187px;
    	font-size: 1.5em;
		}

	p.river-left {
		width: 374;
		top: 60%;
		margin-left: -187px;
		font-size: 1.5em;
		}
		
	p.woods {
	position: fixed;
	width: 320px;
	top: 50%;
	margin-left: -160px;
    font-size: 1.5em;
	}

}

@media only screen and (max-width: 800px) {
				
		.mock-table li {
			float: none;
			width: 90%;
			margin: 0 5%;
		}
}


@media only screen and (max-width: 960px) { 
	
	li.mock-table {border: none;}
	
	.text-container {
		float: none;
		width: 90%;
		margin: 0 5% 20px;
		padding: 10px 0;  
	}
	
	.tl-dash {
		width: 50%;
	}
}

@media only screen and (min-width : 1824px) {
	
	#canvas {
		margin: 0 auto;
		padding: 0 0 1em 0;
		max-width: 90em;      /* 1440px/16px = 90em */
	}
	
	.folio .mains {
	width: 90%;      /* 940px/960px = .97916667 */
	margin: 0 5%;      /* 10px/960px = .010416667 */
	padding: 0;
	}
		
	p.river-right {
		width: 1600px;
		margin-left: -800px;
	}

	p.river-left {
		width: 1600px;
		margin-left: -800px;
	}
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
