---
---
<!doctype html>
<html class="no-js" lang="">
    <head>
        <title>ASPECTS OF GEOLOGICAL TIME (fig. 17)</title>
        {% include meta.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div id="canvas" class="clearfix">
			{% include header.html %}

      		<h2 class="hidden">Page Not Found</h2>
      		<p class="woods">The page you were trying<br>to view does not exist.</p>

      		<div class="folio">

	  			<div class="mains transparent-3"><img src="{{ site.baseurl }}/img/404.jpg" alt="" width="800" height="450" /></div>

	  		</div>
	  		{% include footer.html %}
	  	</div> <!-- /canvas -->
	{% include scripts.html %} 
    </body>
</html>

<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->
