---
---
<!doctype html>
<html class="no-js faq" lang="">
    <head>
        <title>ASPECTS OF GEOLOGICAL TIME</title>
        {% include meta.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div id="canvas" class="clearfix">
			{% include header.html %}
      		<h2 class="hidden">f.a.q.</h2>
      		<div class="folio">
      			<div class="text-container">
		  			<h3 class="faq">Geological Time</h3>
		  			<p>Since time is infinitely divisible, it must be possible to experience something infinitely too. I know this is silly but it's a good coping mechanism. Once I was hiking with my dad and while we were resting he asked me how long a route was possible on that particular mountaintop. You could walk forever in one wooded spot.</p>
		  			<h3 class="faq">supporting materials</h3>
		  			<ul>
						<li><a href="http://newhive.com/elisabeth/fig-1" target="_blank">fig. 1 on Newhive</a></li>
						<li><a href="http://newhive.com/elisabeth/fig-2" target="_blank">fig. 2 on Newhive</a></li>
						<li><a href="http://newhive.com/elisabeth/fig-3" target="_blank">fig. 3 on Newhive</a></li>
						<li><a href="http://newhive.com/elisabeth/fig-4" target="_blank">fig. 4 on Newhive</a></li>
						<li><a href="http://newhive.com/elisabeth/fig-5" target="_blank">fig. 5 on Newhive</a></li>
						<li><a href="http://newhive.com/elisabeth/fig-6" target="_blank">fig. 6 on Newhive</a></li>
						<li><a href="http://newhive.com/elisabeth/fig-7" target="_blank">fig. 7 on Newhive</a></li>
						<li><a href="https://www.electricobjects.com/collections/179/aspects-of-geological-time-by-elisabeth-nicula" target="_blank">figs. 8 &ndash; 13 for Electric Objects</a></li>
						<li><a href="http://www.papermag.com/artist-diary-elisabeth-nicula-1936476814.html" target="_blank">PAPER mag essay</a></li>
						<li><a href="https://elisabethnicula.com/" target="_blank">vanity website</a></li>

					</ul>
      			</div>
	  		</div>
      	
	  		{% include footer.html %}
	  	</div> <!-- /canvas -->
	{% include scripts.html %} 
    </body>
</html>
