---
---
<!doctype html>
<html class="no-js full-water" lang="">
    <head>
        <title>ASPECTS OF GEOLOGICAL TIME (fig.15)</title>
        {% include meta.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div id="canvas" class="clearfix">
			{% include header.html %}
      		<h2 class="hidden">(fig. 15)</h2>
      		
      		<div class="folio">
      		<p class="river-right">Step into the river as often as you want</p>
      		<p class="river-left">it is always the same river</p>
	  			<div class="mains transparent-2"><img src="/img/bg-water.gif" alt="" width="1000" height="563" /></div>
	  		</div>
      	
	  		{% include footer.html %}
	  	</div> <!-- /canvas -->
	{% include scripts.html %} 
    </body>
</html>
