---
---
<!doctype html>
<html class="no-js full-forest" lang="">
    <head>
        <title>ASPECTS OF GEOLOGICAL TIME (fig. 18)</title>
        {% include meta.html %}
        <script type="text/javascript">
			setTimeout(function(){window.location = 'fig-14.html';}, 20000);
		</script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<img src="/img/tl-arc.gif" class="tl-arc transparent" alt="" width="1200" height="300 " />
		<div id="canvas" class="clearfix">
			{% include header.html %}

      		<h2 class="hidden">(fig. 18)</h2>
      		<div class="folio">
	  			<div class="mains-2 transparent"><img src="/img/id-trees.jpg" title="a parting thought" alt="" width="500" height="500" /></div>
	  			<div class="mains-2 zindex"><img src="/img/id-sky.jpg" alt="" title="a parting thought" width="500" height="500" /></div>

	  		</div>
	  		{% include footer.html %}
	  	</div> <!-- /canvas -->
	{% include scripts.html %} 
    </body>
</html>
