---
---
<!doctype html>
<html class="no-js" lang="">
    <head>
        <title>ASPECTS OF GEOLOGICAL TIME (fig. 14)</title>
        {% include meta.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div id="canvas" class="clearfix">
			{% include header.html %}
			<h2 class="hidden">(fig. 14)</h2>
      		<ul class="mock-table">
				<li class="mock-table firstpos"><a href="collect.html"><img src="{{ site.baseurl }}/img/rock-8.gif" class="" alt="" width="800" height="800" /></a></li>
			    <li class="mock-table firstpos"><a href="objects.html"><img src="{{ site.baseurl }}/img/rock-2.gif" class="" alt="" width="800" height="800" /></a></li>
			    <li class="mock-table firstpos"><a href="to.html"><img src="{{ site.baseurl }}/img/rock-3.gif" class="" alt="" width="800" height="800" /></a></li>
			    <li class="mock-table secondpos"><a href="remove.html"><img src="{{ site.baseurl }}/img/rock-4.gif" class="" alt="" width="800" height="800" /></a></li>
			    <li class="mock-table thirdpos"><a href="them.html"><img src="{{ site.baseurl }}/img/rock-5.gif" class="" alt="" width="800" height="800" /></a></li>
			    <li class="mock-table thirdpos"><a href="from.html"><img src="{{ site.baseurl }}/img/rock-6.gif" class="" alt="" width="800" height="800" /></a></li>
			    <li class="mock-table thirdpos"><a href="space.html"><img src="{{ site.baseurl }}/img/rock-7.gif" class="" alt="" width="800" height="800" /></a></li>
			    <li class="mock-table fourthpos"><a href="and-time.html"><img src="{{ site.baseurl }}/img/rock-1.gif" class="" alt="" width="800" height="800" /></a></li>
			    <!--<li class="mock-table fourthpos"><a href="time.html"><img src="{{ site.baseurl }}/img/rock-9.gif" class="" alt="" width="800" height="800" /></a></li>-->
			</ul>
	  		{% include footer.html %}
	  	</div> <!-- /canvas -->
	{% include scripts.html %} 
    </body>
</html>
