---
---
<!doctype html>
<html class="no-js full" lang="">
    <head>
        <title>ASPECTS OF GEOLOGICAL TIME (fig.14)</title>
        {% include meta.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<img src="{{ site.baseurl }}/img/tl-whitedashes.gif" class="tl-dash transparent" alt="" width="720" height="400 " />
		<div id="canvas" class="clearfix">
			{% include header.html %}
      		<h2 class="hidden">(fig. 14)</h2>
      		<div class="folio">
	  			<div class="mains transparent"><img src="{{ site.baseurl }}/img/id-grass.jpg" alt="" width="800" height="450" /><p class="slide-caption"></p></div>
	  		</div>
      	
	  		{% include footer.html %}
	  	</div> <!-- /canvas -->
	{% include scripts.html %} 
    </body>
</html>
