---
---
<!doctype html>
<html class="no-js full" lang="">
    <head>
        <title>ASPECTS OF GEOLOGICAL TIME</title>
        {% include meta.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<img src="{{ site.baseurl }}/img/tl-yellowdashes.gif" class="tl-dash transparent" alt="" width="450" height="225" />
		<div id="canvas" class="clearfix">
			{% include header.html %}
      		
      		<ul class="folio">
	  			<li class="one transparent"><img src="{{ site.baseurl }}/img/id-grass.jpg" alt="" width="800" height="450" /><p class="slide-caption"></p></li>
	  		</ul>
      	
	  		{% include footer.html %}
	  	</div> <!-- /canvas -->
	{% include scripts.html %} 
    </body>
</html>
