<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta name="description" content="digital art, net art, geological time">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" type="image/ico" href="img/favicon.png">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/main.css">
<link href='//fonts.googleapis.com/css?family=Archivo+Narrow:700,400|Archivo+Black:400|Cormorant+Garamond:500' rel='stylesheet' type='text/css'>
<script src="js/vendor/modernizr-2.8.3.min.js"></script>